.home{
    min-height: 1080px;
    width: 100%;
    flex-direction: column;
    background-color: #EFEFEF;
}

.header-home{
    width: 100%;
    margin-bottom: 20px;
}

.content-home{
    display: flex;
    flex:1;
    flex-direction: row;
    width: 100%;
}

.content-left-side-home{
    flex: 1;
}

.content-main-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    flex: 4;
    padding-left: 40px;
}

.content-right-side-home{
    flex: 1;
}

