.login-background{
    height: 100%;
    background-color: #efefef;
    width: 100%;
    position: fixed;

}
.login-container{
    
    width: 30%;
    
    margin: 0 auto;
    border: 2px solid rgba(13, 110, 253, 0.5);
    background-color: white;
    border-radius: 7px;
    margin-top: 100px;
}
.login-content{
    
    padding: 12px 12px;
}
.text-header{
    
    padding: 1rem 0;
    margin: 0;    
    color: #d54d7b;
    font-family: "Great Vibes",cursive;
    font-size: 26px;
    line-height: 10px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    margin-left: 15px;
    cursor:auto;
}
.login-input{
    margin: 7px 0;

}
.btn-login{
    color: black;
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #d54d7b;
    color: white;
    font-size: 15px;
}
.btn-login:hover{
    background-color: rgba(13, 110, 253, 0.8);
}
.forgot-pass{
    color: #000000;
    font-size: 12px;
    box-shadow: 0 1px transparent;
    cursor: pointer;
}
.forgot-pass:hover{
    box-shadow: 0 1px rgba(253, 13, 233, 0.5);
}

.text-otherLogin{
    font-size: 13px;
    margin: 10px 0;
}
.auth-form__social{
    display: flex;
    justify-content: space-around;
}
.auth-form__social-icon--general{
    padding: 3px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #0d6efd ;
    font-size: 13px;
    text-decoration: none;

}
.auth-form__social-icon--fb{
    margin-right: 5px;
}
.auth-form__social-icon--gg{
    margin-left: 5px;
}
.auth-form__social-icon--general:hover{
    background-color: rgba(127, 111, 221, 0.2);
}
.auth-form__title{
    margin-left: 4px;
    color: black;
}
.auth-form__social-icon{
    font-size: 14px;
}
.auth-form__social-gg{
    color: black;
}